/* STYLE CSS GLOBAL*/

* {-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box}

html, body {
    color: #333333;
    font-family: 'Roboto Condensed', sans-serif;
    font: 400;
    height: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #F26122;
    border-color: #F13334;
}

.btn-primary.fnt-14 {
    font-size: 14px;
}
  
.btn-primary:hover {
    color: #fff;
    background-color: #F26122;
    border-color: #F13334;
}
  
.btn-primary:focus, .btn-primary.focus {
    box-shadow: none;
}
  
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #F26122;
    border-color: #F13334;
}
  
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #F26122;
    border-color: #F26122;
}
  
.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus,
.show > .btn.dropdown-toggle:focus {
    box-shadow: none;
}


/* Login */

body.login {
    background: url(../images/1-Login@2x.png) no-repeat center top transparent;
    background-size: cover;
}

.login-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-bloc {
    background: #ffffff;
    padding: 16px 56px 32px 56px;
    border-radius: 16px;
}

.login-bloc .logo { margin-bottom: 32px; }

.login-bloc .form-group { margin-bottom: 32px; }

.login-bloc .form-group .form-control { 
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    color: #CEC9D6;
    padding: 16px 16px;
}

/* Layout */

body.loharano { margin-bottom: 90px; }

.navbar {
    /*position: fixed;*/
    min-width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 48px rgba(75, 58, 56, 0.16);
    z-index: 999;
    justify-content: space-between;
}

.navbar.bg-light {
    background-color: #ffffff !important;
    *border-bottom: solid 1px #E5E5E5;
}

.navbar.bg-light .separator {
    width: 1px;
    height: 40px;
    background: #E5E5E5;
    margin: 0px 24px;
}

.navbar-nav { align-items: center; }

.navbar-nav .nav-item .dropdown-toggle,
.navbar-nav .nav-item .dropdown-toggle:hover,
.navbar-nav .nav-item .dropdown-toggle:active,
.navbar-nav .nav-item .dropdown-toggle:visited {
    background: #FBFBFB;
    border: 1px solid #F26122;
    border-radius: 4px;
    color: #F26122 !important;
    font-size: 14px;
    font-weight: 400 !important;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-item .dropdown-toggle::after {
    display: none;
}

.navbar-nav .nav-item.separator {
    width: 1px;
    height: 24px;
    background: #F26122;
    margin: 0px 24px;
}
.navbar-nav .nav-item.separator-white {
    width: 1px;
    height: 24px;
    background: #fff;
    margin: 0px 24px;
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:visited{
    font-weight: 700;
    color: #2B1A5E;
}

.navbar-nav .nav-item.active .nav-link { color: #F26122; }

.navbar-nav .nav-item.active .nav-link:after {
    background: #F26122;
    border-radius: 4px;
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 4px auto 0;
}

.logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar.bg-light .btn {
    color: #F26122;
    border: solid 1px #F26122;
}

/* Page title */

.page-title {
    background: #FBFBFB;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.page-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;
    color: #2B1A5E;
    margin: 0;
}

.page-title h1:after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background: #F26122;
    margin-top: 16px;
}

/* Main Content */
.dashboard-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dashboard-list .dashboard-item {
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 16px;
}

.dashboard-list .dashboard-item .number {
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 63px;
    color: #F26122;
}

.dashboard-list .dashboard-item .text{ 
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;  
    color: #2B1A5E;
}

/* Firm list */

.firm-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.firm-list .firm-item {
    padding:  10px 24px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.firm-list .firm-item.active { border: 2px solid #F26122; }

.firm-list .firm-item h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.firm-list .firm-item.active h5 {
    color: #F26122;
}

.firm-list .firm-item p{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;
}

.firm-list .firm-item.active p {
    color: #2B1A5E;
    font-weight: 700;
}

.firm-list .firm-item p span{
    margin-right: 16px;
}

.firm-list .firm-item .chevron .iconify {
    color: #333;
}

.firm-list .firm-item.active .chevron .iconify {
    color: #F26122;
}

/* Firm infos */

.firm-infos .firm-infos-head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.firm-infos .firm-infos-head h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;
    color: #2B1A5E;
    margin: 0;
}

.firm-infos .firm-infos-head h5:after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background: #F26122;
    margin-top: 8px;
}
.firm-infos .firm-infos-head .head-left,
.firm-infos .firm-infos-head .head-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.firm-infos .firm-infos-head .head-right .btn { margin-left: 8px; }

.firm-infos .firm-infos-head .head-left .btn { margin-right: 16px; }

.btn.btn-more {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 10px;
}

.btn-more.dropdown-toggle::after { display: none; }

.firm-infos-body { margin-top: 24px; }

.register-item {
    padding:  10px 24px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.register-item .register-mark .mark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 16px;
    margin-left: 8px;
    border: 1px dashed #BDBDBD;
    background: #fff;
}

.register-item.done .register-mark .mark {
    border: 1px solid #fff;
    background: #6FCF97;
    color: #fff;
}

.register-item .register-separator {
    width: 1px;
    height: 72px;
    background: #E5E5E5;
    margin: 0px 24px;
}

.register-item .register-infos h6 {
    color: #333333;
    font-weight: 700;
    line-height: 14px;
}

.register-item.done .register-infos h6 { color: #6FCF97; }

.register-item .register-infos p{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0;
}

.register-item .register-infos p span {
    margin-right: 24px;
}

.register-item .register-infos p span:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    background: #E5E5E5;
    border-radius: 4px;
}

.register-item.done  .register-infos p span:before { background: #6FCF97; }

/* Register infos */

.firm-register-infos {
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
}

.firm-register-infos .firm-register-infos-head {
    padding:  0 0 24px 0;
    background: #FFFFFF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
    border-bottom: 1px solid #BDBDBD;
}

.firm-register-infos .firm-register-infos-head .register-mark .mark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 16px;
    margin-left: 8px;
    border: 1px dashed #BDBDBD;
    background: #fff;
}

.firm-register-infos .firm-register-infos-head .register-separator {
    width: 1px;
    height: 40px;
    background: #E5E5E5;
    margin: 0px 16px;
}

.firm-register-infos .firm-register-infos-head .register-infos h6 {
    color: #2B1A5E;
    font-weight: 700;
    line-height: 14px;
}

.firm-register-infos .firm-register-infos-head .register-infos p{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0;
}

.firm-register-infos .firm-register-infos-head .register-infos p span {
    margin-right: 24px;
}

.firm-register-infos .firm-register-infos-head .register-infos p span:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    background: #E5E5E5;
    border-radius: 4px;
}

.firm-register-infos-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.firm-register-infos-item{
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #BDBDBD;
}

.firm-register-infos-item:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.register-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.register-row .register-col-half{
    min-width: 48%;
    margin-top: 8px;
}

.fkt-name{
    font-weight: 700;
}

.firm-register-infos-list .rgt-text span:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    background: #E5E5E5;
    border-radius: 4px;
}

.register-survey {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.register-survey li {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 48%;
    min-height: 88px;
    background: #FBFBFB;
    border-radius: 4px;
    margin-bottom: 16px;
}

.register-survey li span.number {
    font-weight: 700;
    color: #F26122;
}

.register-survey li span.number.big { font-size: 32px; }

.register-survey li span.text {
    font-weight: 700;
    color: #2B1A5E;
    text-align: center;
}

/* Modal title */

.modal-header { border-bottom: none; }

.modal-title {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;
    color: #2B1A5E;
    margin: 0;
}

.modal-title span {
    color: #F26122;
    font-weight: 700;
}

.modal-title:after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background: #F26122;
    margin-top: 16px;
}

.form-row {
    margin-left: -12px;
    margin-right: -12px;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 12px;
    padding-left: 12px;
}

.form-group label { 
    font-family: 'Roboto Slab', serif; 
    font-size: 14px;;
}

.btn-ctnr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.btn.add {
    background: #FBFBFB;
    border: 1px solid #F26122;
    border-radius: 4px;
    color: #F26122 !important;
    font-size: 14px;
    font-weight: 400 !important;
    margin-bottom: 2px;
}

.fkt {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.fkt .fkt-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 16px;
    background: #F2F2F2;
    border-radius: 4px;
    min-width: 32%;
    max-width: 32%;
    margin-bottom: 16px;
}

.fkt .fkt-item .text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 24px;
    font-size: 14px;
}

.fkt .fkt-item .text .fkt-name { color: #2B1A5E; }

.fkt .fkt-item .text .fkt-nbr { font-size: 12px; }

.fkt-total {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #F26122;
    border-radius: 4px;
    padding: 24px 0;
}

.fkt-total span {
    margin: 0 16px;
}

.fkt-total span.nbr {
    color: #F26122;
    font-size: 24px;
    font-weight: 700;
}

.modal-sub-title {
    font-size: 16px;
    font-weight: 700;
    color: #F26122;
    margin: 16px 0 24px 0;    
}

/* table */

.table {
    color: #333333;
}

.table td, .table th {
    vertical-align: middle;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #2B1A5E;
    color: #2B1A5E;
}
#loadingData img,
#loadingDataCompany img{
    width: 60px;
}
.errorField{
    color: #dd4b38;
}
#personDetails label{
    color: #dd4b38;
}
.col-sm-6.dashboard-item{
    max-width: 48%;
    margin: 0 3px 16px;
}
.tabulator .tabulator-header .tabulator-col {
    background: #06d6a0 !important;
    color: #000 !important;
}

.person-treaty{
    background-color: #F26122;
    padding: 5px 10px 5px 0px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.main-side-bar{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 90px;
}
.main-side-bar{
    background-color: #2B1A5E;
    width: 230px;
    color: #fff;
}
.main-container{
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
}
.main-container.admin-container{
    margin-left: 230px;
}
.main-side-bar ul.main-menu{
    list-style: none;
    padding: 5px 0 0 15px;
}
.main-side-bar ul li{
    margin: 10px 0;
    cursor: pointer;
}
.main-side-bar ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}
.main-side-bar ul li a:hover{
    background-color: #6043B5;
}
.container-bloc-link{
    margin-top: 10px;
}
.bloc-link {
    color: #fff;
    padding: 25px 0;
    border-radius: 5px;
    margin: 0 15px 10px;
    display: inline-block;
    width: 160px;
    text-align: center;
}
.bloc-link:hover,
.bloc-link:focus {
    text-decoration: none;
    color: #fff;
    border: 1px solid #F26122;
}
.bloc-link .iconify{
    font-size: 40pt;
    display: block;
    margin: 0 auto;
}
.bloc-link .count {
    font-size: 23pt;
    padding: 19px 0px 15px;
    display: block;
}
.bloc-link .pourcent {
    font-size: 12pt;
    font-weight: bold;
    padding: 19px 0px 36px;
    display: block;
}
.bloc-link.color-1{
    background-color: #F26122;
}
.bloc-link.color-2{
    background-color: #EE4266;
}
.bloc-link.color-3{
    background-color: #FFD23F;
}
.bloc-link.color-4{
    background-color: #3BCEAC;
}
.bloc-link.color-5{
    background-color: #0EAD69;
}
.bloc-link.color-6{
    background-color: #540d6e;
}
.bloc-link.color-7{
    background-color: #84a59d;
}
.bloc-link.color-8{
    background-color: #247ba0;
}
.bloc-link.color-9{
    background-color: #aa4465;
}
.bloc-link.color-10{
    background-color: #619b8a;
}
.bloc-link.color-11{
    background-color: #c44536;
}
.bloc-link.color-12{
    background-color: #540d6e;
}
.bloc-link.color-13{
    background-color: #1ea896;
}
.bloc-link-counter {
    background-color: #118ab2;
    color: #fff;
    padding: 25px;
    border-radius: 5px;
    margin: 0 15px 10px;
    display: inline-block;
    width: 210px;
    text-align: center;
}
.bloc-link-counter:hover,
.bloc-link-counter:focus {
    background-color: #F13334;
    text-decoration: none;
    color: #fff;
}
.bloc-link-counter .iconify{
    font-size: 40pt;
    display: block;
    margin: 0 auto;
}
.line-bloc{
    padding: 0 15px;
    margin-bottom: 20px;
}
.line-bloc h6{
    text-transform: uppercase;
    color: #2B1A5E;
    font-weight: bold;
}
.sub-main-menu li a{
    z-index: 5;
}
.sub-main-menu li a.active{
    color: #F13334;
    font-weight: bold;
}
img.loading{
    width: 35px;
}
.error_field {
    color: red;
    font-size: 10pt;
}
.orange{
    color: #F26122;
}
.passport-section{
    display: none;
}
.info-fokontany span{
    font-size: 10pt;
    color: #F26122;
}
#addCitizen{
    margin: 18px 0px;
    background-color: #e8e8e8;
    padding: 8px;
    border-radius: 10px;
}
#pills-tab .nav-link.active{
    color: #F26122;
    background-color: #fff;
}
.modal-xl{
    width: 100%;
}
.btn-color-1{
    background-color: #3a0ca3;
    color: #fff;
}
.btn-color-2{
    background-color: #247ba0;
    color: #fff;
}
.btn-color-3{
    background-color: #619b8a;
    color: #fff;
}
.btn-color-4{
    background-color: #c44536;
    color: #fff;
}
.btn-color-5{
    background-color: #540d6e;
    color: #fff;
}
.btn-color-6{
    background-color: #aa4465;
    color: #fff;
}
.btn-color-7{
    background-color: #1ea896;
    color: #fff;
}
.btn-color-8{
    background-color: #69585f;
    color: #fff;
}
.btn-color-1,
.btn-color-2,
.btn-color-3,
.btn-color-4,
.btn-color-5,
.btn-color-6,
.btn-color-7,
.btn-color-8{
    width: 100%;
}
.locality-details svg{
    color: red;
}
.citizen-full-details{
    background-color: #e8e8e8;
    padding: 15px;
    border-radius: 5px;
}
#citizen-details-tabs li a.active {
    background: #06d6a0;
    border-radius: 0;
    color: #fff;
}
#citizen-details-tabs li a {
    background: #e8e8e8;
    border-radius: 0;
    color: #060606;
}
a.extrem-left{
    border-top-left-radius: 35px !important;
    border-bottom-left-radius: 35px !important;
}
a.extrem-right{
    border-top-right-radius: 35px !important;
    border-bottom-right-radius: 35px !important;
}
#appVersion{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10pt;
    background-color: #d7d7d7;
    text-align: center;
}
#appVersion a{
    text-decoration: none;
    color: #00a07e;
}

.margin-content{
 margin-bottom:50px;
}